.navigation__bar {
    background: rgba(0,0,0,0.4) !important;
    filter: alpha(opacity=40) !important;
}

.jumbotron {
    background: white;
}

a {
    color: black;
}

.post__form{
    color: white;
}

.post__detail__button__section {
 text-align: center;
 display: inline-block;
}